<aside class="aside-left">
    <div class="dashboard-sidebar">
        <div class="switch-dashboard-context">
            <details>
                <summary>
                    <img src="https://avatars.githubusercontent.com/u/26745858?s=60&amp;v=4" alt="@Wignesh" size="20"
                        data-view-component="true" height="20" width="20" class="avatar-user">
                    <span class="username">Wignesh</span>
                    <span class="dropdown-caret"></span>
                </summary>
            </details>
        </div>

        <div class="dashboard-repo-containers">
            <app-dashboard-loading *ngIf="isSidebarLoading"></app-dashboard-loading>

            <div class="repos-container" *ngIf="!isSidebarLoading">
                <h2 class="repo-header">
                    Repositories
                    <a routerLink="new" class="new-repo-btn">
                        <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16"
                            width="16" class="octicon">
                            <path fill-rule="evenodd"
                                d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                            </path>
                        </svg>
                        New
                    </a>
                </h2>
                <div class="repo-search">
                    <input (focus)="showMoreRepos()" (input)="searchRepo()" name="searchTerm" [(ngModel)]="searchTerm"
                        type="text" placeholder="Find a repository…" autocomplete="off">
                </div>
                <ul class="repo-list">
                    <li *ngFor="let repo of repos">
                        <div>

                            <a routerLink="/repository-info/{{repo.name}}">
                                <span class="repo-icon">
                                    <svg class="" [ngClass]="repo.isPrivate ? 'octicon-private' : 'octicon-public'"
                                        aria-label="Repository" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                                        role="img">
                                        <path fill-rule="evenodd"
                                            d="M4 4v2h-.25A1.75 1.75 0 002 7.75v5.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-5.5A1.75 1.75 0 0012.25 6H12V4a4 4 0 10-8 0zm6.5 2V4a2.5 2.5 0 00-5 0v2h5zM12 7.5h.25a.25.25 0 01.25.25v5.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-5.5a.25.25 0 01.25-.25H12z">
                                        </path>
                                    </svg>
                                </span>
                                <span>{{repo.name}}</span>
                                <!-- Popover Start -->
                                <!-- <div class="popover-absolute">
                                    <div class="popover" tabindex="0">
                                        <div class="popover-container" style="width:360px;">
                                            <div class="popover-body">

                                                <div class="repo-info">
                                                    <h1 class="repo-title">
                                                        <svg class="octicon octicon-private" viewBox="0 0 16 16"
                                                            version="1.1" width="16" height="16" aria-hidden="true">
                                                            <path fill-rule="evenodd"
                                                                d="M4 4v2h-.25A1.75 1.75 0 002 7.75v5.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-5.5A1.75 1.75 0 0012.25 6H12V4a4 4 0 10-8 0zm6.5 2V4a2.5 2.5 0 00-5 0v2h5zM12 7.5h.25a.25.25 0 01.25.25v5.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-5.5a.25.25 0 01.25-.25H12z">
                                                            </path>
                                                        </svg>
                                                        <a class="repo-link-pop" href="/Wignesh/github-spray"
                                                            itemprop="name codeRepository">
                                                            Wignesh/github-spray
                                                        </a>
                                                    </h1>
                                                    <span class="repo-visiblity">Private</span>
                                                </div>
                                                <div class="repo-update-wrapper">
                                                    <div class="repo-update-container">
                                                        Updated on 28 Apr
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                                <!-- Popover End -->
                            </a>
                        </div>
                    </li>

                </ul>
                <form>
                    <button *ngIf="repos.length == 7" [disabled]="isLoadingMore" type="button"
                        (click)="showMoreRepos()">
                        {{
                        isLoadingMore ?
                        "Loading more.." : "Show
                        more"
                        }}
                    </button>
                </form>
            </div>
        </div>

        <div class="activity-container">
            <h2>Recent activity</h2>
            <app-dashboard-loading *ngIf="isSidebarLoading"></app-dashboard-loading>
            <div class="recent-activity-info" *ngIf="!isSidebarLoading">
                <p>
                    When you take actions across GitHub, we’ll provide links to that activity here.
                </p>
            </div>
        </div>
        <div class="team-container">
            <h2>Your teams</h2>
            <p>You don’t belong to any teams yet!</p>
        </div>
    </div>
</aside>