<div class="resolver-header-bar">

    <div class="resolver-header-1">
        <div>
            <app-issues-filter-dropdown></app-issues-filter-dropdown>
        </div>
        <div class="search-bar">
            <span class="iconify search-icon" data-icon="octicon:search-24" data-inline="false"></span><input
                type="text" class="search-input" placeholder="Search all issues">
        </div>

    </div>
    <div class="left-headerbar">
        <div class="resolver-header-2">
            <button class="label-btn">
                <span class="iconify" data-icon="octicon:tag-24" data-inline="false"></span>
                Label
                <span class="count">30</span>
            </button>
            <button class="milestone-btn">
                <span class="iconify" data-icon="octicon:milestone-24" data-inline="false"></span>
                Milestones
                <span class="count">8</span>
            </button>
        </div>

        <div class="resolver-header-3">
            <button class="new-resolver-btn">New {{rtype}}</button>
        </div>

    </div>

</div>