.repo-card{
    height:175px;
    border-top: 0.5px solid #EBEDEF;
    border-bottom:0.5px solid #EBEDEF; 
    color:#586069;
    font-family: -apple-system,BlinkMacSystemFont,Segoe  UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  }
  
  .mt-10{
    margin-top:10px;
  }
  
  #language-color{
    width: 10px;
    height:10px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right:5px
  }
  
  #tag{
    padding:4px;
    border-radius:16px;
    background:#DBEDFF;
    color:#0366D6
  }
  
  .repo-card-details{
    padding: 24px 0;
  }
  
  li{
    display:inline;
    font-size:12px;
  }
  
  #tags{
    margin-top:20px;
  }
  
  .repo-title{
    font-size:150%;
    margin-bottom:10px;
    color:#0366D6;
  }
  
  .align-self-center{
    align-self:center;
  }
  
  #last-updated{
    margin-left:10px;
    font-size:12px;
  }
  
  .d-inline{
    display:inline;
  }
  
  .readme, .languages{
    font-size:14px;
    margin-top:auto;
    margin:5px 0;
  }
  
  .flex{
    display:flex;
  }
  
  .align-items-center{
    align-items:center;
  }
  
  .ml-auto{
    margin-left:auto;
  }
  
  .justify-self-end{
    display:flex;
    flex-direction:column;
    align-items:right;
  }
  
  .mr-5{
    margin-right:5px;
  }
  
  .mt-5{
    margin-top:5px;
  }