@import "../../../styles/common/constants";

.repo-language-cpp {
  background-color: #f34b7d !important;
}

.repo-language-go {
  background-color: #00add8 !important;
}

.border-none {
  border-width: 0px !important;
}

.aside-right {
  // width: 100%;
  // border-bottom: 1px solid $color-border-primary;
  .octoverse-survey {
    .notice {
      form {
        background-color: $color-bg-primary;
        border: 1px solid $color-border-primary;
        border-radius: 6px;
        position: relative;
        margin-bottom: 24px;
        padding: 16px;
        h3 {
          .octicon {
            height: 16;
            width: 16;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: text-bottom;
            fill: currentColor;
            color: $color-text-tertiary;
            margin-right: 4px;
          }
          span {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
              Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
            line-height: 1.5;
            color: $color-text-primary;
            font-size: 16px;
            font-weight: 600;
            box-sizing: border-box;
            margin-left: 4px;
          }
        }
        p {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
            Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
          line-height: 1.5;
          color: $color-text-primary;
          word-wrap: break-word;
          margin-top: 16px;
          margin-bottom: 16px;
          font-size: 12px;
        }
        .take-survey-btn {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
            Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
          text-decoration: none;
          position: relative;
          display: inline-block;
          font-weight: 500;
          vertical-align: middle;
          cursor: pointer;
          user-select: none;
          border: 1px solid;
          border-radius: 6px;
          appearance: none;
          color: $color-btn-text;
          background-color: $color-btn-bg;
          border-color: $color-btn-border;
          box-shadow: $color-btn-shadow, $color-btn-inset-shadow;
          transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
          transition-property: color, background-color, border-color;
          padding: 3px 12px;
          font-size: 12px;
          line-height: 20px;
          &:hover {
            background-color: $color-btn-hover-bg !important;
            border-color: $color-btn-hover-border !important;
          }
        }
        .close-notice-container {
          position: absolute;
          padding: 4px;
          top: 2px;
          right: 6px;
          .close-notice-button {
            cursor: pointer;
            appearance: none;
            border: none;
            background: transparent;
            outline: none;
            .octicon {
              color: $color-text-secondary;
              height: 16;
              width: 16;
              display: inline-block;
              vertical-align: text-bottom;
              fill: currentColor;
            }
            &:hover {
              .octicon {
                color: $color-text-primary !important;
              }
            }
          }
        }
      }
    }
  }
  h2 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    color: $color-text-primary;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
  }
  .suggested-repo {
    border-bottom: 1px solid $color-border-primary;
    border-color: $color-border-secondary;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    .suggested-repo-link {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
      line-height: 1.5;
      background-color: transparent;
      color: $color-text-primary;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: $color-text-link !important;
      }
    }
    .suggested-repo-info {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
      line-height: 1.5;
      color: $color-text-secondary;
      margin-bottom: 8px;
      font-size: 12px;
    }
    .suggested-repo-language {
      margin-right: 8px;
      .suggested-repo-language-container {
        .suggested-repo-language-color {
          position: relative;
          margin-right: 4px;
          top: 1px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid $color-repo-language-color-border;
          border-radius: 50%;
        }
        .suggested-repo-programming-language {
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
            Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
          line-height: 1.5;
          color: $color-text-secondary;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .suggested-repo-stars {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
      line-height: 1.5;
      color: $color-text-secondary;
      font-size: 12px;
      font-weight: 400;
      .octicon {
        color: $color-text-secondary;
        height: 16;
        width: 16;
        display: inline-block;
        vertical-align: text-bottom;
        fill: currentColor;
      }
    }
  }
  .explore-more {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    background-color: transparent;
    color: $color-text-secondary;
    margin-bottom: 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    &:hover {
      color: $color-text-link !important;
    }
  }
}
