<div class="about">
  <span class="about-title title">About</span>
  <span class="description">
    Component infrastructure and Material Design components for Angular
  </span>
  <div class="repo-tags">
    <span>angular</span>
    <span>material</span>
    <span>material-design</span>
    <span>angular-components</span>
  </div>
  <div>
    <span>Readme</span>
    <span>MIT License</span>
  </div>

  <div class="releases">
    <h1 class="releases-title title">
      Releases
      <span>211</span>
    </h1>
    <div>
      <div>
        <span class="release-name">honeycomb-heart</span>
        <span>6 days ago</span>
      </div>
      <span>Latest</span>
    </div>
    <span>+ 210 releases</span>
  </div>

  <div class="packages">
    <span class="packages-title title">Packages</span>
    <span>No packages published</span>
  </div>

  <div class="usedby">
    <h1 class="usedby-title title">Used by
      <span>388k</span>
    </h1>
    <div></div>
  </div>

</div>

