.repo-content-root{
  margin: 32px;
}
.left-pane{
  width: 68vw;
  margin: 0px 8px 0px;
  padding: 0px 8px 0px 32px;
  justify-content: flex-start;
}

.right-pane{
  margin: 0px 51px 0px 12px;
}
.code-container{
  margin: 16px 0px 18px 0px;
  width: 65vw;
}
.readme-container{
  width: 67.5vw;
}

// utility

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.items-stretch{
  align-items: stretch;
}

.f1{
  font-size: 1rem;
}

.text-xl{
  font-size: x-large;
}

.text-blue{
  color:blue;
}

.text-gray{
  color:gray;
}

.text-black{
  color:black !important;
}


.font-bold{
  font-weight: bold;
}

.font-semibold{
  font-weight: 550;
}

.font-normal{
  font-weight: normal;
}

.cursor-pointer{
  cursor: pointer;
}

