<!--Welcome Message on top of issues and PR page-->

<div class="welcome-message-container">
    <div></div>
    <div class="message-container">
        <div class="welcome-message-header">
            👋 Want to contribute to droidLight/object_detector?
        </div>
        <div class="welcome-message">
            <p>If you have a bug or an idea, read the<a> contributing guidelines </a> before
                opening an issue.</p>
            <p>If you're ready to tackle some open issues,<a> we've collected some good first issues for
                    you</a>.</p>
        </div>
    </div>
    <div class="dismiss-dropdown">
        <a class="dismiss-dropdown-btn">Dismiss</a>
        <span class="iconify" data-icon="octicon:triangle-down-16" data-inline="false"></span>
        <div class="dismiss-dropdown-elements">
            <a>Dismiss for this repository only</a>
            <a>Dismiss for all repositories</a>
        </div>
    </div>
</div>