<div class="welcome-message-container">
    <div class="welcome-message-header">
        👋 Want to contribute to $repoNameHere
    </div>
    <div class="welcome-message">
        <p>If you have a bug or an idea, read the contributing guidelines before
            opening an issue.</p>
        <p>If you're ready to tackle some open issues, we've
            collected some good first issues for you.</p>
    </div>
    <div class="dissmiss-dropdown">
        <a class="dismiss-dropdown-btn">DISMISS</a>
        <div class="dissmiss-dropdown-elements">
            <a href="#">Dismiss for this repository only</a>
            <a href="#">Dismiss for all repositories</a>
        </div>
    </div>
</div>