@import "../../../styles/common/constants";

.news-item {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  .news-body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    .news-details {
      border-bottom: 1px solid $color-border-primary;
      border-color: $color-border-secondary;
      .container {
        align-items: baseline;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        .user {
          margin-right: 8px;
          .user-link {
            background-color: transparent;
            color: $color-text-link;
            text-decoration: none;
            display: inline-block;
            .user-avatar {
              width: 32px;
              aspect-ratio: auto 32 / 32;
              height: 32px;
              border-style: none;
              display: inline-block;
              overflow: hidden;
              line-height: 1;
              vertical-align: middle;
              background-color: $color-avatar-bg;
              flex-shrink: 0;
              box-shadow: 0 0 0 1px $color-avatar-border;
              border-radius: 50%;
            }
          }
        }
        .news-card {
          flex-direction: column;
          flex: 1;
          display: flex;
          .news-title {
            .container {
              .user-link {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                  Helvetica, Arial, sans-serif, Apple Color Emoji,
                  Segoe UI Emoji;
                font-size: 14px;
                line-height: 1.5;
                word-wrap: break-word;
                background-color: transparent;
                color: $color-text-primary;
                font-weight: 600;
                text-decoration: none;
                word-break: break-all;
                display: inline-block;
                &:hover {
                  color: $color-text-link !important;
                }
              }
              .user-action {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                  Helvetica, Arial, sans-serif, Apple Color Emoji,
                  Segoe UI Emoji;
                font-size: 14px;
                line-height: 1.5;
                color: $color-text-primary;
                text-decoration: none;
                margin-left: 6px;
                .repo-link {
                  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                    Helvetica, Arial, sans-serif, Apple Color Emoji,
                    Segoe UI Emoji;
                  font-size: 14px;
                  line-height: 1.5;
                  background-color: transparent;
                  color: $color-text-primary;
                  font-weight: 600;
                  text-decoration: none;
                  word-break: break-all;
                  display: inline-block;
                  &:hover {
                    color: $color-text-link !important;
                  }
                }
                .news-time {
                  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
                    Helvetica, Arial, sans-serif, Apple Color Emoji,
                    Segoe UI Emoji;
                  line-height: 1.5;
                  color: $color-text-tertiary;
                  margin-left: 4px;
                  font-size: 12px;
                  white-space: nowrap;
                }
              }
            }
          }
          .news-card-body {
            .news-card-body-content {
              background-color: $color-bg-primary;
              border: 1px solid $color-border-primary;
              border-radius: 6px;
              margin-top: 8px;
              padding: 16px;
            }
          }
        }
      }
    }
  }
}

.starred-repo-info {
  a {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.25;
    background-color: transparent;
    color: $color-text-primary;
    font-weight: 600;
    text-decoration: none;
    word-break: break-all;
    display: inline-block;
    &:hover {
      color: $color-text-link !important;
    }
  }
  .starred-rep-star-container {
    float: right;
    display: inline-block;
    form {
      display: block;
      .star-button {
        font-family: inherit;
        position: relative;
        display: inline-block;
        font-weight: 500;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid;
        border-radius: 6px;
        appearance: none;
        color: $color-btn-text;
        background-color: $color-btn-bg;
        border-color: $color-btn-border;
        box-shadow: $color-btn-shadow, $color-btn-inset-shadow;
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;
        padding: 3px 12px;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 8px;
        margin-left: 8px;
        &:hover {
          background-color: $color-btn-hover-bg !important;
          border-color: $color-btn-hover-border !important;
        }
        .octicon {
          width: 16;
          height: 16;
          display: inline-block;
          overflow: visible;
          fill: currentColor;
          margin-right: 4px;
          color: $color-text-tertiary;
          vertical-align: text-top;
        }
      }
    }
  }
}
.starred-repo-details {
  margin-bottom: 0;
  margin-top: 4px;
  p {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    color: $color-text-secondary;
    word-break: break-word;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.starred-repo-probes {
  margin-bottom: 0;
  margin-top: 8px;
  .repo-language {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    font-size: 12px;
    color: $color-text-secondary;
    margin-right: 16px;
    display: inline-block;
    .repo-language-container {
      .repo-language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid $color-repo-language-color-border;
        border-radius: 50%;
      }
      .repo-language-text {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
          Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        line-height: 1.5;
        font-size: 12px;
        color: $color-text-secondary;
        box-sizing: border-box;
      }
    }
  }
  .repo-stars {
    margin-right: 16px;
    display: inline-block;
    a {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
      line-height: 1.5;
      font-size: 12px;
      background-color: transparent;
      text-decoration: none;
      color: $color-text-secondary;
      .octicon {
        width: 16;
        height: 16;
        display: inline-block;
        overflow: visible;
        vertical-align: text-bottom;
        fill: currentColor;
        margin-right: 4px;
      }
      &:hover {
        color: $color-text-link !important;
      }
    }
  }
  .repo-update-date {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.5;
    color: $color-text-secondary;
    font-size: 12px;
  }
}
