.d-flex{
  display: flex;
  justify-items: center;
}

.repo-list-page{
  color: #c9d1d9;
  margin: 0 0 0 144px;
  
}

#profile{
  width: 26%;
}

#repo-list{
  width: 70%;
  margin: 0 9rem 0 0;
  padding:0 0 0 3%;
}

#repo-form{
  width: 100%;
}