.d-flex{
  display: flex;
}

.d-inline{
  width: 30%;
}


.repo-list{
  width: 75%;
}

.mr-10{
  margin-right: 70px;
}

#profile{
  width: 25%;
  margin: 10px;
}

.bg-dark{ 
  background-color:#0D1117;
}