<!-- <img src="./assets/images/Repositories.png" alt=""> -->
<div class="bg-dark color-white repo-list-page">
    <app-nav-profile></app-nav-profile>
    <div class="d-flex">
        <div id="profile">
            <app-profile-desc></app-profile-desc>
        </div>
        
    
        <div class="d-inline repo-list ml-50" id="repo-list">
            <div class="repo-form">
                <app-repo-list-search-form></app-repo-list-search-form>
            </div>
            
            <div class="repo-list"  *ngFor="let repo of repos">
                <app-repo-list-item [repo]="repo"></app-repo-list-item>
            </div>
        
        </div>
        
    </div>
</div>
