// *
// {
//     color:    #adbac7;
// }

.profileblock
{
    display: inline;
    font-size: 14px;
    line-height: 21px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
.imgdiv
{
    align-items: center;
}
.profileimg
{
    width:70%;
    height:70%;
    border-radius: 50%;display: block;
    margin-left: auto;
}
.namediv
{
    width: 100%;
    text-align: left;
    margin:0px 0px 8px;
    padding:20px;
}

.previewprof
{
    display: block;
}
.resume
{
    width: 80%;
    font-size:16px;
    margin : 0 0 0 7rem;
}
.profdetails
{
    width:100%;
    margin:0px 0px 0 6rem;
}
.descdiv
{
    padding:10px;
    width: 100%;
    text-align: left;
    ;
    font-size:    14px;
    line-height:    21px;
    margin:0px 0px 8px;
    padding:20px;
}
.profname
{
    font-size:26px;
    font-weight:600;
    margin : 0 0 0 6rem;
}
.username
{
    font-size:20px;
    font-weight:300;
    line-height: 24px;
    margin : 0 0 0 6rem;
}
.profbtn{
    
    display:flex;
    font-size:14px;
    line-height:21px;
    width: 80%;
    margin:0px 0px 0px 6rem;
    padding:20px;
}
.profeditbtn
{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    align-items:flex-start;
    border-color:#444c56;
    color:#c4d1d9;
    border-radius:6px;
    width:100%;
    border-style:solid;
    border-width:1px;
    box-shadow:#1b1f23 0px 1px 0px 0px,;
    background-color: #21262d;
    font-family:-apple-system;
    font-size:14px;
    font-weight:500;
    line-height:20px;
    padding:5px 16px;
    text-align:center;
}
.follows
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}
.profachieve
{
    border-color:#ebedef;
    border-style:solid none none;
    border-width:1px 0px 0px;
    
    font-family:-apple-system;
    font-weight:600;
    line-height:24px;
    
    margin:0px 0px 0px 6rem;
    padding:20px;
    width:80%;
}


.profachimg
{
    
    display:inline;
    font-size:14px;
    line-height:21px;
    width: 33%;color:#0366d6;
    height: 33%;
    padding:5px;
}

.pro{
    align-items:flex-start;
    padding:5%;
    width:100%;
     ;
    border-color:#1b1f23;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    box-shadow:#1b1f23 0px 1px 0px 0px,;
    
    font-family:-apple-system;
    font-size:14px;
    font-weight:500;
    line-height:20px;
    padding:5px 16px;
    text-align:center;
}



.editprof
{
    display: none;
}


.probadge
{
    border-color:#8256d0;
    border-radius:24px;
    border-style:solid;
    border-width:1px;
    color:#986ee2;
    display:inline-block;
    font-size:12px;
    font-weight:500;
    line-height:18px;
    padding:0px 7px;
    text-align:left;
    text-transform:uppercase;
}

.editinput
{
    align-items: center;
    background-position:
    right 8px 50%;
    border-color:    #373e47;
    border-radius:    6px;
    border-style:    solid;
    border-width:    1px;
    box-shadow:    #000000 0px 0px 0px 0px;
    font-family:    -apple-system;
    font-size:    12px;
    line-height:    20px;
    margin:    0px 0px 0px 8px;
    padding:    3px 12px;
}
textarea{
    resize: vertical;
    width: 80%;
    padding:100px;
}
.editinputdiv
{
    align-items:center;
    display:flex;
    font-size:14px;
    line-height:21px;
    margin:15px 0px 0px;
    padding-left: 10px;
}

.editbadgediv
{
    font-size:14px;
    line-height:21px;
    margin:0px 0px 15px;
    padding:0px 0px 0px 20px;
}

.editbtns
{
    align-items:flex-start;
    background-color:#347d39;
    border-color:#46954a;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    box-shadow:#000000 0px 0px 0px 0px;
    color:#ffffff;
    display:inline-block;
    font-family:-apple-system;
    font-size:12px;
    font-weight:500;
    line-height:20px;
    padding:3px 12px;
    text-align:center;
}
.editbtnc
{
    align-items:flex-start;
    background-color:#373e47;
    border-color:    #444c56;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    box-shadow:#000000 0px 0px 0px 0px;
    color:#ffffff;
    display:inline-block;
    font-family:-apple-system;
    font-size:12px;
    font-weight:500;
    line-height:20px;
    padding:3px 12px;
    text-align:center;
}