<div class="repo-readme">

  <div class="readme-header">
    <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16"
      class="octicon octicon-list-unordered">
      <path fill-rule="evenodd"
        d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z">
      </path>
    </svg>
    <span>README.md</span>
  </div>

  <div class="readme-body flex flex-col items-stretch">
    <span class="readme-body-header">Official components for Angular</span>

    <span class="readme-team-description">
      The Angular team builds and maintains both common UI components and tools to help you build your own custom
      components. The team maintains several npm packages.
    </span>

    <table class="npm-packages-table">

      <thead>
        <tr>
          <td>Package</td>
          <td>Description</td>
          <td>Docs</td>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>@angular/cdk</td>
          <td>Library that helps you author custom UI components with common interaction patterns</td>
          <td><a href="#">Docs</a></td>
        </tr>
        <tr>
          <td>@angular/material</td>
          <td><a>Material Design</a> UI components for Angular applications</td>
          <td><a href="#">Docs</a></td>
        </tr>
        <tr>
          <td>@angular/google-maps</td>
          <td>Angular components built on top of the <a>Google Maps JavaScript API</a></td>
          <td><a href="#">Docs</a></td>
        </tr>
        <tr>
          <td>@angular/youtube-player</td>
          <td>Angular component built on top of the <a>YouTube Player API</a></td>
          <td><a href="#">Docs</a></td>
        </tr>
      </tbody>
    </table>

    <div class="readme-quick-links flex flex-col">
      <span class="quick-links-header">Quick links</span>
      <div class="flex"><a href="#">Documentation, demos, and guides</a> &#124; <a href="#">Frequently Asked
          Questions</a> | <a href="#">Community Google group</a> | <a href="#">Contributing</a>| <a href="#">StackBlitz
          Template</a></div>
    </div>

    <div class="getting-started flex flex-col">
      <span class="getting-started-header sub-header">Getting Started</span>
      <span class="getting-started-desc sub-description">See our <a href="">Getting Started Guide</a> if you're building
        your first project with Angular Material.</span>
    </div>

    <div class="contribution-guidelines flex flex-col">
      <span class="contribution-guidelines-header sub-header">Contributing</span>
      <span class="contribution-guidelines-desc sub-description">If you'd like to contribute, please follow our <a
          href="">contributing guidelines</a>. Please see our help wanted label for a list of issues with good
        opportunities for contribution.</span>
    </div>

    <div class="road-map flex flex-col">
      <span class="road-map-header sub-header">What we're working on now (Q2 2021):</span>
      <span class="road-map-desc">
        <ul>
          <li> Continuing to create new, API-compatible versions of the Angular Material components backed by MDC Web
            (see @jelbourn's ng-conf talk). Much of our effort is dedicated towards rolling out these new versions of
            the components across Angular apps inside Google. This work will payoff with the following benefits:
            <ul class="sub-list">
              <li> Dramatically improve consistency with the Material Design spec, which has changed significantly since
                Angular Material's 2016 inception.
              </li>
              <li> Introduce a new theming API for component density, a top feature request.
              </li>
              <li>Fix a number of longstanding accessibility bugs.
              </li>
              <li>Increase number of people working to continuously improve the components on an on-going basis (both
                the Angular team and the Material Design team).
              </li>
            </ul>
          </li>
          <li> Continue work on virtual-scroll support for cdk/table.
          </li>
          <li>Accessibility - we'll be doing a major pass on outstanding accessibility issues and reviewing all of the
            components for accessibility best practices such as WCAG.
          </li>
        </ul>
      </span>
    </div>

    <div class="about-team flex flex-col">
      <span class="about-team-header sub-header">About the team</span>
      <span class="about-team-desc sub-description">
        <span class="mv1">The Angular Components team is part of the Angular team at Google. The team includes both
          Google employees and community contributors from around the globe.</span>

        <span class="mv1">Our team has two primary goals:</span>

        <ul class="mv1 pl2">
          <li>Build high-quality UI components that developers can drop into existing applications</li>
          <li>Provide tools that help developers build their own custom components with common interaction patterns</li>
        </ul>

        <span class="mv1">What do we mean by "high-quality" components?</span>

        <ul class="mv1 pl2">
          <li>Internationalized and accessible so that all users can use them.</li>
          <li>Straightforward APIs that don't confuse developers.</li>
          <li>Behave as expected across a wide variety of use-cases without bugs.</li>
          <li>Behavior is well-tested with both unit and integration tests.</li>
          <li>Customizable within the bounds of the Material Design specification.</li>
          <li>Performance cost is minimized.</li>
          <li>Code is clean and well-documented to serve as an example for Angular developers.</li>
        </ul>
      </span>
    </div>


    <div class="screens-support flex flex-col">
      <span class="screens-support-header sub-header mv1">Browser and screen reader support</span>

      <span class="screens-support-desc sub-desscription">
        The Angular Components team supports the most recent two versions of all major browsers: Chrome (including
        Android), Firefox, Safari (including iOS), and IE11 / Edge.

        We aim for great user experience with the following screen readers:

        <ul class="mv1 pl2">
          <li><strong>Windows:</strong> NVDA and JAWS with IE11 / FF / Chrome.</li>
          <li><strong>macOS:</strong> VoiceOver with Safari / Chrome.</li>
          <li><strong>iOS:</strong> VoiceOver with Safari</li>
          <li><strong>Android :</strong> Android Accessibility Suite (formerly TalkBack) with Chrome.</li>
          <li><strong>Chrome OS:</strong> ChromeVox with Chrome.</li>
        </ul>
      </span>



    </div>




  </div>
</div>
