<div class="news-item">
    <div class="news-body">
        <div class="news-details">
            <div class="container">
                <span class="user">
                    <a class="user-link">
                        <img class="user-avatar" src="{{news.data.user_avatar}}" width="32" height="32"
                            alt="@{{news.data.user}}">
                    </a>
                </span>
                <div class="news-card">
                    <div class="news-title">
                        <div class="container">
                            <a class="user-link">{{news.data.user}}</a>
                            <span class="user-action"> forked <a routerLink="/repository-info/{{news.data.repo.to}}"
                                    class="repo-link">{{news.data.repo.to}}</a>
                                from <a routerLink="/repository-info/{{news.data.repo.from}}"
                                    class="repo-link">{{news.data.repo.from}}</a>
                                <span class="news-time">{{news.data.date}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="news-card-body">
                        <div class="news-card-body-content">
                            <div class="starred-repo-info">
                                <a routerLink="/repository-info/{{news.data.repo.to}}">{{news.data.repo.to}}</a>
                                <div class="starred-rep-star-container">
                                    <form>
                                        <button type="button" class="star-button">
                                            <svg class="octicon" viewBox="0 0 16 16" version="1.1" width="16"
                                                height="16" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z">
                                                </path>
                                            </svg>
                                            Star
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="starred-repo-details">
                                <p>{{news.data.p}}
                                </p>
                            </div>
                            <div class="starred-repo-probes">
                                <span class="repo-language">
                                    <span class="repo-language-container">
                                        <span class="repo-language-color"
                                            style="background-color: {{news.data.lang_color}} !important;">

                                        </span>
                                        <span class="repo-language-text">
                                            {{news.data.language}}
                                        </span>
                                    </span>
                                </span>
                                <span class="repo-stars">
                                    <a>
                                        <svg class="octicon" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                                            <path fill-rule="evenodd"
                                                d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z">
                                            </path>
                                        </svg>
                                        90
                                    </a>
                                </span>
                                <span class="repo-update-date ">Updated {{news.data.updated_date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>