<!-- Style 2 -->
<div class="news-item">
    <div class="news-body">
        <div class="news-details">
            <div class="container">
                <span class="user">
                    <a href="" class="user-link">
                        <img class="user-avatar" src="https://avatars.githubusercontent.com/u/34213472?s=64&amp;v=4"
                            width="32" height="32" alt="@Dhuvaraggn">
                    </a>
                </span>
                <div class="news-card">
                    <div class="news-title">
                        <div class="container">
                            <a href="" class="user-link">Dhuvaraggn</a>
                            <span class="user-action"> pushed to <a href="" class="repo-link">Wignesh/gh-clone</a>
                                <span class="news-time">4 hours ago</span>
                            </span>
                        </div>
                    </div>
                    <div class="news-card-body">
                        <div class="news-card-body-content ">
                            <span class="news-commit-messag">1 commit
                                to</span>
                            <a href="" class="news-commit-branch">ajith</a>
                            <div class="news-commits">
                                <ul class="commit-list">
                                    <li class="commit-item">
                                        <span class="commit-user">
                                            <img width="16" height="16" alt=""
                                                src="https://avatars.githubusercontent.com/u/34213472?s=32&v=4">
                                        </span>
                                        <code class="commit-id">
                                                                                        <a href="">b1a36ee</a>
                                                                                    </code>
                                        <div class="commit-message">
                                            <blockquote>shared profile
                                                description component added
                                            </blockquote>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>