*
{
    color:#c9d1d9;
}
img {
  width: 100%;
}
.profile
{
  display: flex;
  margin-left: 9rem;
}
.profblock{
  width: 24%;
}
.profright
{
  width: 72%; 
  z-index: -2;
}


@media only screen and (max-width: 1024px) {
  .profile
  {
    display: flex;
    margin-left: 5rem;
  }
  .profblock{
    width:24%
  }
  .profright
  {
    width:72%;
  }
}

@media only screen and (max-width:768px) {

  .profile
  {
    display: flex;
    margin-left: 4rem;
  }
  .profblock{
    width:24%;
  }
  .profright
  {
    width: 72%;
  }
}


@media only screen and (max-width:450px)
{
  .profile
  {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .profblock{
    width: 100%;
  }
  .profright
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}