*
{
    color:#adbac7;
}   
.contribution
{
    width: 100%;
    float:right;
    margin:0px 0px 0px 50px;
    padding-right: 100px;
}
.contribution-img{
    width:95%;
    margin-left : 2rem;
}
.contribution-act
{
    width:92%;
    display: flex;
    flex-direction: row;
    margin-left : 3rem;
}
.contribdate
{
    color:#adbac7;
    display:inline;
    font-size:12px;
    font-weight:600;
    line-height:18px;
    padding:20px;
    padding-left: 5px;
}
.timeline
{
    width:100%;
    display: flex;
    flex-direction: column;
}
.timelineitem
{
    color:#adbac7;
    display:flex;
    flex-direction: column;
    font-size:14px;
    line-height:21px;
    margin:0px 0px 0px 16px;
    padding:16px 30px;
}

.timelineitem-head
{
    color:#adbac7;
    display:inline;
    line-height:20px;
    text-align:left;
    border: 1px #797272;
}
.timelineitem-head:hover
{
    color:#0366d6;
    display:inline;
    line-height:20px;
    text-align:left;
}
.timelinerepo
{
    color:#0366d6;
    display:inline;
    font-family:-apple-system;
    font-size:14px;
    line-height:17.5px;
    text-align:left;
}
.timelinerepo:hover
{
    text-decoration: underline;
}
.contribyears{
    width:20%;
    display: flex;
    flex-direction: column;
    color:#adbac7;
    font-size:14px;
    line-height:21px;
    padding:0px 0px 0px 32px;
}
.yearbtnblue
{
    background-color:#0366d6;
    border-radius:6px;
    color:#ffffff;
    font-family:-apple-system;
    font-size:12px;
    line-height:18px;
    margin:0px 0px 8px;
    padding:8px 16px;
    text-align:left;
}
.yearbtn
{
    background-color:#191e25 ;
    color:#adbac7;
    border-radius:6px;
    font-family:-apple-system;
    font-size:12px;
    line-height:18px;
    margin:0px 0px 8px;
    padding:8px 16px;
    text-align:left;
}
.hiddentimeline
{
    display: none;
}
.timelinebtn
{
    align-items:flex-start;
    background-color:    #22272e;
    border-color:    #444c56;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    color:#0366d6;
    display:inline-block;
    font-family:-apple-system;
    font-size:12px;
    font-weight:600;
    line-height:20px;
    padding:8px 6px;
    text-align:center;
    margin-bottom: 3rem;
}
.timelinebtn:hover
{
    align-items:flex-start;
    background-color:    #22272e;
    border-color:    #444c56;
    border-radius:6px;
    border-style:solid;
    border-width:1px;
    color:#0366d6;
    display:inline-block;
    font-family:-apple-system;
    font-size:12px;
    font-weight:600;
    line-height:20px;
    padding:8px 6px;
    text-align:center;
}