
<div class="contribution">
    
    <img class="contribution-img" src="./assets/images/Contribution-graph.png">

    <div class="contribution-act">
        <div class="contribyears">
            <div class="yearbtnblue"><a >2021</a></div>
            <div class="yearbtn"><a >2020</a></div>
            <div class="yearbtn"><a >2019</a></div>
            <div class="yearbtn"><a >2018</a></div>
        </div>
        <h2>Contribution activity</h2>
        <div class="timeline">
            <span class="contribdate"> Jun 2021</span>
            <div >
                <img src="./assets/svg/repo-push-16.svg" width="50px" height="50px">
                <div class="timelineitem">
                    <span class="timelineitem-head">Created 10 commits in 2 repositories</span>
                    <div>
                        <a class="timelinerepo">Dhuvaraggn/gh-clone-angular</a>
                        <a>     6 commits</a> 
                    </div>
                    <div>
                        <a class="timelinerepo">Dhuvaraggn/contactbook-angular</a>
                        <a>     6 commits</a> 
                    </div>
                </div>
                <img src="./assets/svg/repo-push-16.svg" width="50px" height="50px">   
                <div class="timelineitem">
                     <span class="timelineitem-head">Created 2 repositories</span>
                    <div>
                        <a class="timelinerepo">Dhuvaraggn/gh-clone-angular</a>
                    </div>
                    <div>
                        <a class="timelinerepo">Dhuvaraggn/contactbook-angular</a> 
                    </div>
                </div>
                <img src="./assets/svg/git-pull-request-16.svg" width="50px" height="50px">
                <div class="timelineitem">
                   <h4>Opened their first pull request on GitHub in</h4>
                   <a class="timelineitem-head">Ajith/gh-clone</a>
                </div>
            </div>
        </div>
        
    </div>
</div>