
<div class="contribution">
    
    <img class="contribution-img" src="./assets/images/Contribrution-graph.png">

    <div class="contribution-act">
        
        <div class="timeline">
            
        <h2>Contribution activity</h2>
            <span class="contribdate"> Jun 2021</span>
            <div >
                <div style="display: flex;">
                    <div>
                        <img src="./assets/svg/repo-push-16.svg" width="25px" height="25px">
                    </div>
                    <div class="timelineitem">
                        <span class="timelineitem-head">Created 10 commits in 2 repositories</span>
                        <div>
                            <a class="timelinerepo">Dhuvaraggn/gh-clone-angular</a>
                            <a>     6 commits</a> 
                        </div>
                        <div>
                            <a class="timelinerepo">Dhuvaraggn/contactbook-angular</a>
                            <a>     6 commits</a> 
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <div>
                        <img src="./assets/svg/repo-push-16.svg" width="25px" height="25px">   
                    </div>
                    <div class="timelineitem">
                        <span class="timelineitem-head">Created 2 repositories</span>
                        <div>
                            <a class="timelinerepo">Dhuvaraggn/gh-clone-angular</a>
                        </div>
                        <div>
                            <a class="timelinerepo">Dhuvaraggn/contactbook-angular</a> 
                        </div>
                    </div>
                </div>
                
                <div style="display: flex;">
                    <div>
                        <img src="./assets/svg/git-pull-request-16.svg" width="25px" height="25px">
                    </div>
                    <div class="timelineitem">
                   <h4>Opened their first pull request on GitHub in</h4>
                   <a class="timelineitem-head">Ajith/gh-clone</a>
                   <img  src="./assets/svg/pull-request.svg" width="100%" height="80%">
                </div>
                </div>
            </div>

            <div class="hiddentimeline" #hiddentimeline>
                <span class="contribdate"> Jun 2021</span>
                <div >
                    <div style="display: flex;">
                        <div>
                            <img src="./assets/svg/repo-push-16.svg" width="25px" height="25px">
                        </div>
                        <div class="timelineitem">
                            <span class="timelineitem-head">Created 13 commits in 1 repositories</span>
                            <div>
                                <a class="timelinerepo">Dhuvaraggn/gh-clone-angular</a>
                                <a>     13 commits</a> 
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div>
                            <img src="./assets/svg/repo-push-16.svg" width="25px" height="25px">   
                        </div>
                        <div class="timelineitem">
                            <span class="timelineitem-head">Created 2 repositories</span>
                            <div>
                                <i class="fas fa-lock"></i>
                                <a class="timelinerepo"> Dhuvaraggn/gh-clone-angular</a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <button (click)="showhiddentimeline()" class="timelinebtn">Show more activity</button>
        </div>
        <div class="contribyears">
            <div class="yearbtnblue">2021</div>
            <div class="yearbtn"><a >2020</a></div>
            <div class="yearbtn"><a >2019</a></div>
            <div class="yearbtn"><a >2018</a></div>
        </div>
    </div>
</div>