@import "../../../../styles/common/constants";

$common-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

* {
  font-family: $common-font;
  color: $color-text-primary;
  line-height: 21px;
  font-size: 14px;
}
.responsive-resolver-count {
  display: none;
  .open-count {
    cursor: pointer;
    color: $color-text-secondary;
  }
  .close-count {
    cursor: pointer;
    margin-left: 0.9rem;
    color: $color-text-secondary;
  }
  .active-btn {
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
    .iconify {
      font-weight: $font-weight-semibold;
      color: $color-text-primary;
    }
  }
  .open-count:hover,
  .close-count:hover {
    color: $color-text-primary;
  }
}
.resolver-container {
  border-radius: 6px;
  border: $border-width $border-style $color-border-primary;
  margin: 16px 0px 0px;
  border-bottom: none;
  .resolver-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $color-bg-tertiary;
    border: 1px solid $color-border-primary;
    border-radius: 6px 6px 0px 0px;
    margin: -1px -1px 0px;
    padding: 16px;

    .resolver-count {
      display: flex;
      .open-count {
        cursor: pointer;
        color: $color-text-secondary;
      }
      .close-count {
        cursor: pointer;
        margin-left: 0.9rem;
        color: $color-text-secondary;
      }
      .active-btn {
        font-weight: $font-weight-semibold;
        color: $color-text-primary;
        .iconify {
          font-weight: $font-weight-semibold;
          color: $color-text-primary;
        }
      }
      .open-count:hover,
      .close-count:hover {
        color: $color-text-primary;
      }
    }
  }

  .resolver-filter-bar {
    .author-dropdown,
    .label-dropdown,
    .project-dropdown,
    .milestone-dropdown,
    .review-dropdown,
    .asignee-dropdown,
    .sort-dropdown {
      color: $color-text-secondary;
      background-color: transparent;
      border: none;
      margin: 0rem 0.8rem;
      &:hover {
        cursor: pointer;
        color: $color-text-primary;
      }
    }
  }
  .cards {
  }
}

.paginator {
  margin: 1.5% 0;
  display: flex;
  justify-content: center;

  .paginator-btn {
    border: 1px solid transparent;
    text-align: center;
    color: $color-text-link;
    background-color: transparent;
    line-height: 21px;
    vertical-align: middle;
    padding: 0.3rem 0.6rem;

    &:hover {
      cursor: pointer;
      border-radius: 6px;
      border: $border-width $border-style $color-border-primary;
    }

    &:disabled {
      cursor: default;
      color: $color-text-disabled;
      border: none;
      .spl-char {
        color: $color-text-disabled;
      }
    }
  }
  .page-box {
    margin: 0px 5px;
    display: flex;
    .pg-no {
      color: $color-state-selected-primary-text;
      vertical-align: middle;
      text-align: center;
      border: $border-width $border-style transparent;
      border-radius: 6px;
      line-height: 20px;
      min-width: 32px;
      padding: 0.3rem 0.6rem;
      margin: 0px 2px;
      &:hover {
        cursor: pointer;
        border-color: $color-border-primary;
      }
    }
    .active-pg {
      background-color: $color-state-selected-primary-bg;
    }
  }
  .spl-char {
    color: $color-text-link;
    line-height: 21px;
    padding: 0px 6px 0px 0px;
  }
}

.iconify {
  color: $color-text-secondary;
  align-items: flex-start;
  margin: 0rem 0.3rem 0rem 0rem;
}
.invalid-query {
  height: 18rem;
  padding: 4rem;
  text-align: center;
  vertical-align: middle;
  border-bottom: $border-width $border-style $color-border-primary;
  color: $color-icon-secondary;
  .invalid-query-icon {
    .iconify {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }
  }
  .invalid-query-header {
    font-size: 24px;
    margin: 1.2rem 0;
    font-weight: 600;
  }
  .invalid-query-message {
    font-size: 16px;
    color: $color-text-secondary;
    a {
      color: $color-text-link;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .responsive-resolver-count {
    display: flex;
    margin-left: 0.3rem;
  }

  .resolver-container {
    .resolver-toolbar {
      .resolver-count {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .resolver-container {
    .resolver-toolbar {
      .resolver-filter-bar {
        .project-dropdown,
        .milestone-dropdown,
        .review-dropdown {
          display: none;
        }
      }
    }
  }
}
