@import "../../../../styles/common/constants";

$common-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

* {
  font-family: $common-font;
  color: $color-text-primary;
  line-height: 21px;
  font-size: 14px;
}

.resolver-container {
  border-radius: 6px;
  border: 1px solid $color-border-primary;
  margin: 16px 0px 0px;
  .resolver-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $color-bg-tertiary;
    border: 1px solid $color-border-primary;
    border-radius: 6px 6px 0px 0px;
    margin: -1px -1px 0px;
    padding: 16px;

    .resolver-count {
      display: flex;
      .open-count {
        cursor: pointer;
        color: $color-text-secondary;
      }
      .close-count {
        cursor: pointer;
        margin-left: 0.9rem;
        color: $color-text-secondary;
      }
      .active-btn {
        font-weight: 500;
        color: $color-text-primary;
      }
      .open-count:hover,
      .close-count:hover {
        color: $color-text-primary;
      }
    }
  }

  .resolver-filter-bar {
    .author-dropdown,
    .label-dropdown,
    .project-dropdown,
    .milestone-dropdown,
    .review-dropdown,
    .asignee-dropdown,
    .sort-dropdown {
      color: $color-text-secondary;
      background-color: transparent;
      border: none;
      margin: 0rem 0.8rem;
      &:hover {
        cursor: pointer;
        color: $color-text-primary;
      }
    }
  }
  .cards {
  }
}

.iconify {
  align-items: flex-start;
  margin: 0rem 0.3rem 0rem 0rem;
}
