<div class="resolver-container">
    <div class="resolver-toolbar">
        <div class="resolver-count">
            <div class="open-count" [class.active-btn]="isActive('open')" [routerLink]="[]"
                [queryParams]="{ query: 'open'}">
                <span class="iconify icon-1" attr.data-icon={{this.icons[this.rtype]?.open?.icon}}
                    data-inline="false"></span>
                {{openCount}} Open
            </div>
            <div class="close-count icon-1" [class.active-btn]="isActive('closed')" [routerLink]="[]"
                [queryParams]="{ query: 'closed'}">
                <span class="iconify" attr.data-icon={{this.icons[this.rtype].closed?.icon}} data-inline="false"></span>
                {{closedCount}}
                Closed
            </div>
        </div>

        <div class="resolver-filter-bar">
            <button class="author-dropdown">Author <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span></button>
            <button class="label-dropdown">Label <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span> </button>
            <button class="project-dropdown">Projects <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span> </button>
            <button class="milestone-dropdown">Milestones <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span> </button>

            <button *ngIf="rtype=='pr'" class="review-dropdown">Reviews <span class="iconify"
                    data-icon="octicon:triangle-down-16" data-inline="false"></span> </button>
            <button class="asignee-dropdown">Asignee <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span> </button>
            <button class="sort-dropdown">Sort <span class="iconify" data-icon="octicon:triangle-down-16"
                    data-inline="false"></span> </button>
        </div>
    </div>
    <div class="cards">

        <div *ngFor="let resolverDetails of rList">
            <app-resolver-details-card [rtype]="rtype" [resolverDetails]="resolverDetails" [rresult]="rresult">
            </app-resolver-details-card>
        </div>
    </div>
</div>