.lang-usage-indicator{
  width:100%;
  padding:1rem 0 0.5rem 0;
}

.oned-pie-chart{
  display: flex;
  gap: 0.1rem;
}

.lang-details{
  display: flex;
  flex-wrap: wrap;
  margin:0.5rem 0 ;
  gap:1rem;
  font-size: small;
}
