<div class="container">
    <section style="float : left; font-size : 18px; padding : 1.5rem 0rem 0.3rem 0.3rem;">Popular repositories</section>
    <section style="float : right; margin-right: 18%; color: #6a947b; font-size : 18px; padding : 1.5rem 0rem 0.3rem 0.3rem;">Customize your pins</section>
<div class="cards">
    <div class="repoCards">
        <a href = "http://localhost:4200/repository-details/authNam/title/">Sample</a><br><br>
        <span>Getting started with repos</span>
    </div>
    <div class="repoCards">
        <a href = "#">Java-training</a><br><br>
        <span>loading data from api to webpages using ajax</span>
    </div>
    <div class="repoCards">
        <a href = "#">Java-training</a><br><br>
        <span>loading data from api to webpages using ajax</span>
    </div>
    <div class="repoCards">
        <a href = "#">Contacts-Book</a><br><br>
        <span>Getting started with repos</span>
    </div>
    <div class="repoCards">
        <a href = "#">Movie-Ticket-Booking</a><br><br>
        <span>Getting started with repos</span>
    </div>
</div>
</div>