<div class="container">
    <section style="float : left; color : #c9d1d9; font-size : 16px; padding : 1.5rem 0rem 0.5rem 0rem; margin-left:6rem;">Popular repositories</section>
    <section style="float : right; margin-right: 10%; color: #8b949e; font-size : 13px; padding : 1.5rem 0rem 0.3rem 2rem;">Customize your pins</section>
<div class="cards">
    <div class="repoCards" *ngFor = "let repo of repos">
        <a href="#">{{ repo.title }}</a><br>
        <span>{{ repo.readme }}</span>
        <div class="lang">
            <div id="language-color"></div>
            <div class="languages">
              {{repo.language}}
            </div>
        </div>
    </div>
</div>
</div>