.container{
    width : 100%;
    height : auto;
    margin-left : auto;
    padding-left : 220px;
}

.cards{
    width : 100%;
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
}

.repoCards{
    width : 42%;
    height : auto;
    border : 1px solid black;
    border-radius: 0.2rem;
    margin : 0.5rem;
    margin-top : 0rem;
    flex-shrink : 0;
    padding: 1rem;
}

a{
    text-decoration : none;
    color : #2f91ff;
    font-size: 18px;
}

span{
    color: #56847b;
}