<div class="flex justify-between file-navigation-header">
  <div class="left-part">
    <!-- branch-select -->
    <app-repo-branches-dropdown></app-repo-branches-dropdown>
    <!-- branches -->

    <div class="branches-metadata" *ngIf="isRootPage">
      <svg style="color:gray" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true"
        height="16" width="16">
        <path fill-rule="evenodd"
          d="M11.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122V6A2.5 2.5 0 0110 8.5H6a1 1 0 00-1 1v1.128a2.251 2.251 0 11-1.5 0V5.372a2.25 2.25 0 111.5 0v1.836A2.492 2.492 0 016 7h4a1 1 0 001-1v-.628A2.25 2.25 0 019.5 3.25zM4.25 12a.75.75 0 100 1.5.75.75 0 000-1.5zM3.5 3.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0z">
        </path>
      </svg>
      <span>84</span>
      <span class="branches-metadata-heading">branches</span>
    </div>

    <!-- tags -->


    <div class="tags-metadata" *ngIf="isRootPage">
      <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16"
        class="octicon octicon-tag text-gray">
        <path fill-rule="evenodd"
          d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z">
        </path>
      </svg>
      <span>211</span>
      <span class="tags-metadata-heading">tags</span>
    </div>

    <!-- file path -->
    <div *ngIf="!isRootPage" class="file-path flex">
      <div id="root-path">{{repoName}}</div>
      <div class="path-sep">/</div>
      <div id="path-cont" class="flex" *ngFor="let name of urlList">
        <div class="dir">{{name}}</div>
        <div class="path-sep">/</div>
      </div>
    </div>
  </div>


  <div class="right-part">
    <div class="goto-file-btn">
      <span>Go to file</span>
    </div>

    <div class="add-file-btn">
      <span>Add file</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-caret-down-fill"
        viewBox="0 0 16 16">
        <path
          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </div>

    <div class="code-download-btn" *ngIf="isRootPage">
      <svg style="fill:whitesmoke" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd"
          d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z">
        </path>
      </svg>
      <span>Code</span>
      <svg style="color:whitesmoke" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
        class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path
          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </div>
    <div class="dot-button" *ngIf="!isRootPage">
      <div class="icon">
        <svg aria-label="More options" role="img" viewBox="0 0 16 16" version="1.1" data-view-component="true"
          height="16" width="16" class="octicon octicon-kebab-horizontal">
          <path
            d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">
          </path>
        </svg>
      </div>
    </div>
  </div>

</div>