* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.file-navigation-header {
  background: #0d1117;
  //to expand to available width
  //width: 65vw;
}

.left-part {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: small;

  .branches-metadata {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #c9d1d9;
    cursor: pointer;

    svg {
      fill: #c9d1d9;
    }

    &-heading {
      color: gray;
    }

    &:hover {
      color: #58a6ff;
      svg {
        fill: #58a6ff;
      }

      .branches-metadata-heading {
        color: #58a6ff;
      }
    }
  }

  .tags-metadata {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #c9d1d9;
    cursor: pointer;

    &-heading {
      color: gray;
    }

    svg {
      fill: #c9d1d9;
    }

    &:hover {
      color: #58a6ff;
      svg {
        fill: #58a6ff;
      }
      .tags-metadata-heading {
        color: #58a6ff;
      }
    }
  }
}

.right-part {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #c9d1d9;
  font-weight: 500;
  font-size: small;

  .goto-file-btn {
    background-color: #21262d;
    border: 1px solid #30363d;
    padding: 0.35rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover {
      background: #30363d;
      border: 1px solid #8b949e;
    }
  }

  .add-file-btn {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    background-color: #21262d;
    border: 1px solid #30363d;
    padding: 0.35rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover {
      background: #30363d;
      border: 1px solid #8b949e;
    }
  }

  .code-download-btn {
    color: white;
    background: #238636;
    border: 1px solid #2ea043;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover {
      background-color: #2ea043;
      border-color: #3fb950;
    }
  }
}

// utility

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-gray {
  color: gray;
}

.justify-between {
  justify-content: space-between;
}

//file-path
.file-path {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  
  #path-cont {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  #root-path {
    color: #58a6ff;
    display: inline;
  }

  .path-sep {
    margin: 0px 4px;
    color: #c9d1d9;
  }
  .dir {
    color: #c9d1d9;
  }
}
.dot-button {
  gap: 0.2rem;
  align-items: center;
  background-color: #21262d;
  border: 1px solid #30363d;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  fill: #8b949e;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background: #30363d;
    border: 1px solid #8b949e;
  }
}


@media only screen and (max-width:1048px){
  .branches-metadata{
    display: none !important;
  }

  .tags-metadata{
    display: none !important;
  }
}