<div class="resolver-card">

    <div class="container-right">

        <div class="resolver-details-main" (mouseover)="displayDetails=true" (mouseout)="displayDetails=false">

            <ng-template [ngIf]="displayDetails">
                <div class="popup">
                    <app-resolver-details-popup [resolverDetails]="resolverDetails"
                        [ricon]="(icons[rtype])[rresult]?.icon" [riconcolor]="(icons[rtype])[rresult]?.color">
                    </app-resolver-details-popup>
                </div>
            </ng-template>

            <div class="new-row">
                <!--modified by sibi-->

                <div class="resolver-icon">
                    <!--same icon moved here-->
                    <span class="iconify icon-1" attr.data-icon={{(icons[rtype])[rresult]?.icon}}
                        [style.color]="(icons[rtype])[rresult]?.color" data-inline="false"></span>
                </div>
                <div class="card-title">{{resolverDetails?.tittle}} <button class="label"
                        *ngFor="let labelindex of resolverDetails?.labels"
                        [style.background-color]="labels[labelindex]?.color"
                        [style.color]="labels[labelindex]?.tcolor">{{labels[labelindex]?.name}}</button></div>

            </div>

            <div class="card-metadata">#{{resolverDetails.sno}} opened 3 hours ago by {{resolverDetails?.postedBy}}
            </div>
        </div>
    </div>

    <div class="metadata-bar-left">
        <div class="metadata-comp">
            <div class="linked-pr-data" *ngIf="resolverDetails?.linked.length!=0">
                <span class="iconify" data-icon="octicon:git-pull-request-24" data-inline="false"></span>
                {{resolverDetails?.linked.length}}
            </div>
        </div>
        <div class="metadata-comp">
            <img *ngIf="resolverDetails?.assignee?.profileUrl!=''" class="asignee-img"
                src="{{resolverDetails?.assignee?.profileUrl}}">
        </div>

        <div class="metadata-comp">
            <div class="comment-data" *ngIf="resolverDetails?.comments?.length!=0">
                <span class="iconify" data-icon="octicon:comment-16" data-inline="false"></span>
                {{resolverDetails?.comments?.length}}
            </div>
        </div>
    </div>
</div>