<div class="resolver-card">
    <div class="container-right">
        <div class="resolver-icon">
            <span class="iconify icon-1" attr.data-icon={{icons[rtype]?.open?.icon}}
                [style.color]="icons[rtype]?.open?.color" data-inline="false"></span>
        </div>
        <div class="resolver-details-main" (mouseover)="displayDetails=true" (mouseout)="displayDetails=false">
            <ng-template [ngIf]="displayDetails">
                <div class="chumma">
                    <app-resolver-details-popup [resolverDetails]="resolverDetails" [ricon]="icons[rtype]?.open?.icon"
                        [riconcolor]="icons[rtype]?.open?.color">
                    </app-resolver-details-popup>
                </div>
            </ng-template>
            <div class="card-title">{{resolverDetails?.tittle}}
                <button class="label" *ngFor="let labelindex of resolverDetails?.labels"
                    [style.background-color]="labels[labelindex]?.color">{{labels[labelindex]?.name}}</button>
            </div>

            <div class="card-metadata">#{{resolverDetails.sno}} opened 3 hours ago by {{resolverDetails?.postedBy}}
            </div>
        </div>
    </div>
    <div class="metadata-bar-left">
        <div class="comp-1">
            <span class="iconify" data-icon="octicon:git-pull-request-24" data-inline="false"></span>
            {{resolverDetails?.linked.length}}
        </div>
        <img class="comp-2" src="{{resolverDetails?.assignee?.profileUrl}}">
        <div class="comp-3">
            <span class="iconify" data-icon="octicon:comment-16" data-inline="false"></span>
            {{resolverDetails?.comments?.length}}
        </div>
    </div>
</div>